/.XDroneDescriptionLabelProvider.java._trace
/.XDroneDescriptionLabelProvider.xtendbin
/.XDroneLabelProvider.java._trace
/.XDroneLabelProvider.xtendbin
/XDroneDescriptionLabelProvider.java
/XDroneLabelProvider.java
